@charset "utf-8";
/* Autor: Alejandro, Aitor y Jose
 * Fecha: 08/03/2023
 * Módulo: Laboratorio ISI
 */

@media (min-width: 576px) {  
    .mediaQuery {
        width: 50%;
    }
}

@media (max-width: 991.98px) { 
    .mediaQuery {
        width: 75%;
    }
}

body{
    padding-top: 5px;
}

header {
    padding-bottom: 6px;
}

header, footer, body {
    background-color: #1C2833;
}

main {
    background-color: white;
    padding-bottom: 20px;
    min-height: 318px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
