<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="The Game Bazar">
    <meta name="description" content="La pagina trata de una pagina para un laboratorio">
    <title>The Game Bazar</title>

    <link rel="icon" href="{{ url_for('static', filename= 'img/icono.png') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Personalizado -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/css.css') }}">
</head>
<body>
    <span class="d-none" id="OpcionSalir">normal-iniciar.php</span>   
    <header class="container-fluid">
        <div class="container d-block d-lg-flex justify-content-center">
            <div class="text-center">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename= 'img/logo.png') }}" alt="Logo" width="450" height="150"></a>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container position-relative">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuContenido"
            aria-controls="menuContenido" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="position-absolute"></div>
        <div class="collapse navbar-collapse" id="menuContenido">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/top10.html">Top 10 juegos</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container pt-3">
        <div class="border rounded d-md-flex justify-content-center w-75 m-auto">
            <div class="d-block d-md-inline card-body">
                <form class="p-3" name="formularioInicioSesion">
                    <div class="form-group">
                        <label for="usuario">*Usuario: </label>
                        <input type="text" class="form-control" id="usuario" name="usuario" maxlength="10">
                        <div id="errorUsu" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="pass">*Contraseña: </label>
                        <input type="password" class="form-control" id="pass" name="pass" maxlength="20">
                        <div id="errorContra" class="text-danger"></div>
                    </div>
                    <div class="form-group m-0 text-right">
                        <button class="btn btn-block botonMismoColor text-white" type="button" onclick="validarFormInicio()">Iniciar</button> 
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="container-fluid pt-3">
        <div class="container d-flex justify-content-between aling-items-center pb-3" id="share">
            <div class="w-100 m-auto text-center">
                <p class="m-0 text-white">Laboratorio Integración De Sistemas Informaticos</p>
            </div>
        </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Personalizado -->
    <script src="{{ url_for('static', filename= 'js/codigoJS.js') }}"></script>
</body>
</html>